.foot{
  background: #323232; /* Dark background for the footer */
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  

  /* position: fixed; */
   
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.home h3 {
  margin-bottom: 20px;
}

.my-style-text {
  margin-bottom: 100px;
  font-size: 30px;
  font-family: "Anton SC", sans-serif;
  background: linear-gradient(90deg, #ffa318, #ecff1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.my-style-text:hover{
  transition: color 0.5s ease;
  cursor: pointer;
  /* color: aliceblue; */
  background: linear-gradient(90deg, #18ff33, #ecff1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home {
  font-family: "Nunito", sans-serif;
  /* font-family: "Biryani", sans-serif; */
  color: beige;
  background-color: #0075db; /* Light blue background */
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  margin: 20px;
  /* box-shadow: 1px 3px 10px 2px #000000; */
  box-shadow:  rgba(0, 114, 207, 0.4) 5px 5px,  rgba(0, 114, 207, 0.3) 10px 10px, rgba(0, 114, 207, 0.2) 15px 15px, rgba(0, 114, 207, 0.1) 20px 20px,rgba(0, 114, 207, 0.05) 25px 25px;
  margin-bottom: 60px;
}

.yellow-bar {
  height: 7px;
  border-radius: 20px;
  margin-bottom: 9px;
  background-color: yellow;
}
.black-bar {
  height: 3px;
  border-radius: 20px;
  margin-bottom: 9px;
  background-color: rgb(219, 219, 219);
}
.lang {
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
.lang:hover {
  background-color: #2296fc;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out ;
}

.intrest {
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
.intrest:hover {
  background-color: #2296fc;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out ;
}
.my-self {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resume {
  font-weight: 800;
  color: rgb(37, 37, 37);
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
  width: 90px;
  background-color: #ffa500;

  border: 2px solid black;
  border-radius: 10px;
}

.resume:hover {
  color: aliceblue;
  text-decoration: none;
}

.edu-title{
font-size: 19px;
font-weight: 700;
color: rgba(233, 249, 20, 0.98);
}

.edu-sec{
  
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
  
}
.box{
  
  padding: 6px;
}
.box:hover{
  background-color: #2296fc;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out ;
}
.imgSize{
  margin: 40px;
  width: 300px;
  height: 300px;
}



.para-text{
  font-weight: 500;
  color: aliceblue;
}

.certfi{
  padding: 10px;
  /* border: 2px solid #ffa500; */
  background-color: #2296fc;
  border-radius: 10px;
  
}

.ficate{
  font-weight: 500;
  color: rgb(37, 37, 37);
  display: block;
  text-align: center;
  width: 90px;
  background-color: #ffa500;
  border: 2px solid black;
  border-radius: 10px;
  
}
.ficate:hover{
  text-decoration: none;
  color: aliceblue;
}
.my-name {
  font-family: "Playwrite GB S";
  /* font-family: 'Press Start 2P', cursive; */
  /* color: #ffa500; */
  font-weight: 500;
  background: linear-gradient(90deg, #ffa318, #ecff1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .box-li li{
  border-radius: 10px;
  padding: 10px;
  background-color: #46b1fe;
} */